<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @entry_type.name %>
</p>

<p>
  <strong>Position:</strong>
  <%= @entry_type.position %>
</p>

<%= link_to 'Edit', edit_entry_type_path(@entry_type) %> |
<%= link_to 'Back', entry_types_path %>
