<h2>SHOW</h2>

<%# TODO:Temporary implements %>
<h3>Options: [<a href="javascript:void(0)" onclick="$('#options_content').toggle(200);">open</a>]</h3>
<div id="options_content" style="display: none;">
  <form action="<%= home_index_path %>" method="get">
    <p>
      <%
        all_clear = @entry_types.count == EntryType.count
        EntryType.all.each_with_index do |type, index| %>
          <input <%= !all_clear && @entry_types.include?(type) ? 'checked="checked"' : '' %> class="type_filter" id="type_<%=type.id%>" type="checkbox" name="type_ids[]" value="<%= type.id %>">
          <label for="type_<%=type.id%>"><%= type.name %></label>
          <% if (index + 1) % 4 == 0 %><br><% end %>
      <% end %>
    </p>
    <p>
      [<a href="javascript:void(0)" onclick="$('.type_filter').prop('checked', false)">Clear-checks</a>]-
      [<a href="javascript:void(0)" onclick="$('.type_filter').prop('checked', true)">Check-all</a>]
    </p>
    <p>
      <label for="min">Min:</label> <input type="number" name="min" value="<%= @min %>">
      <label for="max">Max:</label> <input type="number" name="max" value="<%= @max %>">
      <label for="min">Steps:</label> <input type="number" name="steps" value="<%= @steps %>">
    </p>
    <p>
      <label for="days">Showing days:</label> <input type="number" name="days" value="<%= @days %>">
    </p>
    <p>
      <input type="submit" value="Apply">
    </p>

  </form>
</div>
<hr>
<canvas id="graph" width="720" height="480"></canvas>
<ul id="legend"></ul>

<script type="text/javascript">
  $(function(){
    var data = {
      labels : <%= @day_labels.to_json.html_safe %>,
      datasets : [
        <% @entry_label_map.each_with_index do |(type, data), index|
          sels = [250,100,150,200,50]
          r = sels[index % sels.length]
          g = sels[(index + 1) % sels.length]
          b = sels[(index + 2) % sels.length]
          rgb = "#{r},#{g},#{b}"
        %>
        {
          label : "<%= type.name %>",
          tension: 0,
          backgroundColor : "rgba(<%= rgb %>,0.2)",
          pointBorderColor : "rgba(<%= rgb %>,1)",
          data : <%= data.to_json.html_safe %>
        },
        <% end %>
      ]
    };
    var ctx = document.getElementById("graph").getContext("2d");
    new Chart(ctx, {
      type: 'line',
      data: data,
      options: {
        spanGaps: true,
        pointDot : true,
        showTooltips: true,
        responsive: true,
        scales: {
          yAxes: [{
            display: true,
            ticks: {
              <%= @steps ? "fixedStepSize:#{@steps}," : "" %>
              <%= @min ? "min:#{@min}," : "" %>
              <%= @max ? "max:#{@max}," : "" %>
              callback: function(value){
                return value+'sec';
              }
            }
          }]
        }
       }
    });
  });

</script>
