<p id="notice"><%= notice %></p>

<p>
  <strong>Day:</strong>
  <%= @time_entry.day_id %>
</p>

<p>
  <strong>Type:</strong>
  <%= @time_entry.type_id %>
</p>

<p>
  <strong>Second:</strong>
  <%= @time_entry.second %>
</p>

<%= link_to 'Edit', edit_time_entry_path(@time_entry) %> |
<%= link_to 'Back', time_entries_path %>
